@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
}

.wrapper {
    z-index: 100;
    position: absolute;
    top: 7rem;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(100, 100, 100, .3);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 15px;
    padding: 12px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper h2 {
    font-size: 35px;
    text-align: center;
    transform: translateY(-1px);
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: 40px;
    font-size: 16px;
    color: grey;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.wrapper .back-btn i {
    position: absolute;
    font-size: 25px;
    transform: translateY(-20px);
}

.wrapper .back-btn-new i {
    position: absolute;
    font-size: 21px;
    transform: translateY(-7px);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box2 input::placeholder {
    color: black;
}

.input-box2 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.input-box2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: 40px;
    font-size: 16px;
    color: grey;
    padding: 20px 45px 20px 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: grey;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.flash {
    z-index: 1001;
    position: absolute;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    top: 5px;
    box-shadow: 10rem;
}

html{
    scroll-behavior: smooth;
}

/*-----------------------header-------------------*/

.header{
    display:flex;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index:1000;
    border: 2px solid grey;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1%;
    background: rgba(108, 155, 98, 0.364) ;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.5) ;
    text-decoration: none;
    font-weight: 600;
}

/*------------------------Logo Name and Logo----------------*/
.logo {
    display: flex;
    position: absolute;
    top: 7px; /*Change the position of logo using this*/
    left: 5px; /*Change the position of logo using this*/
    font-size: 29px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.img-logo{
    width: 50px;
    margin-right: -102%;
    margin-left: 19px;
}

.logo:hover{
    font-size: 50px;
}

/*----------------------------Nav Bar-----------------*/


.navbar a {
    display: flex;
    font-size: 20px;
    margin: 0 10px;   /*Distance between Home,Categories, Review*/
    color: rgb(255, 255, 255);
    text-shadow: 1.2px 1.2px #000000;
    text-decoration: none;
    transform: translateX(-2400%); /*Translate in X direction*/
    margin-bottom:2px; /*width of flex box*/
    margin-top: 2px;
    
}

