<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="\static\faviconv2.png" type="image/png">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <div class="flash">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category,message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!--header class="header">

        <img src="\static\faviconv2.png" alt="ShopiMart" class="img-logo">

        <nav class="navbar">
            <a href="/" class="href">Home</a>
            <a href="#Categories" class="href">Categories</a>
            <a href="#Reviews" class="href">Reviews</a>
        </nav>

        <div class="body">
            <div class="box">
                <input type="text" placeholder="Search">
                <a href="#">
                    <i class='bx bx-search-alt'></i>
                </a>
            </div>
        </div>

        <div class="icons">
            <div class="cart" id="cart-btn"><i class='bx bxs-cart'></i></div>
            <div class="accordian-user">
                <input type="checkbox" id="buyer-trigger" />
                <label for="buyer-trigger">
                    <i class='bx bxs-user'></i>
                </label>

                <div class="wrapper">
                    <form action="#" , method="post"></form>
                    <span>Buyer</span>
                    <p><a href="/userregister"> <button type="Submit" class="u-register-btn">Sign in</button></a></p>
                    <p><a href="/userlogin"> <button type="Submit" class="u-login-btn">Login</button></a></p>
                    </form>
                </div>

            </div>

            <div class="accordian-admin">
                <input type="checkbox" id="seller-trigger" />
                <label for="seller-trigger">
                    <i class='bx bxs-store'></i>
                </label>

                <div class="wrapper">
                    <form action="#" , method="post"></form>
                    <span>Seller</span>
                    <p><a href="/adminlogin "> <button type="Submit" class="admin-login-btn">Login</button></a></p>
                    </form>
                </div>

            </div>
        </div>

    </header-->


    <div class="wrapper">
        <form method="post" action="/userregister" autocomplete="on">
            <h2> Create Account </h2>

            <div class="back-btn-new">
                <a href="/"><i class='bx bx-arrow-back'></i> </a>
            </div>

            <!-- username  input box -->
            <div class="input-box">
                <input type="text" name="name" placeholder="Name" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <i class='bx bxs-user-account'></i>
            </div>

            <div class="input-box">
                <input type="tel" name="number" placeholder="Mobile Number" required>
                <i class='bx bxs-phone'></i>
            </div>

            <!-- password input box -->
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <!-- password input box -->
            <div class="input-box2">
                <input type="password" name="confirm" placeholder="Re-Enter Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>


            <!--Submit button-->
            <button type="submit" class="btn">Start Shopping</button>

            <!--creating new account-->
            <div class="register-link">
                <p>Already have account? <a href="/userlogin"> Login</a></p>
            </div>


        </form>

    </div>
</body>

</html>